
<div class="form row">
  <table class="striped">
    <thead>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Description</th>
    </tr>
    </thead>

    <tbody>
    <% @articles.each do |article| %>
      <tr>
        <th><%= article.id %></th>
        <td><%= article.title %></td>
        <td><%= article.description %></td>

        <td>
          <%= link_to article_path(article.id)  do %>
              <i class="material-icons">pageview</i>
          <% end %>
        </td>
        <td>
          <%= link_to   do %>
              <i class="material-icons">edit</i>
          <% end %>
        </td>
        <td>
          <%= link_to   do %>
              <i class="material-icons materialize-red-text">delete</i>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= link_to new_article_path, class: 'btn-floating right btn-large waves-effect waves-light purple'  do %>
    <i class="material-icons">add</i>
  <% end %>
</div>