<h5> Create an Article</h5>
<br/>
<br/>
<div class="form row">
  <%= form_for @article do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :description %>
    <%= f.text_area :description, class:'materialize-textarea' %><br/><br/>
    <%= f.submit class:'btn purple' %>
  <% end %>
</div>