<h5> Showing Article #<%=@article.id %></h5>
<br/>
<br/>
<div class="form row">
  <%= label_tag "Title" %>
  <%= text_field_tag "title", value = @article.title %> <br/> <br/>
  <%= label_tag "Description" %>
  <%= text_field_tag "description",value = @article.description %>
</div>